
*

!.gitignore
!.vimrc
!.Xresources
!.Xinitrc
!.bashrc
!.bash_profile

!.config/
!.config/picom.conf
!.config/bspwm/
!.config/bspwm/**
!.config/sxhkd/
!.config/sxhkd/**
!.config/dunst/
!.config/dunst/**
!.config/nvim/
!.config/nvim/**

!scripts/
!scripts/**

#!issues.md

**.bak
