#!/usr/sh

xrdb -merge ~/.Xresources
. ~/.profile

# xrandr --output HDMI-0 --auto --primary
# xrandr --output DP-4 --auto --right-of HDMI-0

# xrandr --dpi 96

# export KDEWM=openbox

nvidia-settings -a "[gpu:0]/GpuPowerMizerMode=1"
nvidia-settings --load-config-only

# essentials
# ----------

dunst &  # notification manager
picom &  # compositor
~/.fehbg &  # wallpaper
nm-applet &  # network manager
pasystray &  # audio manager
tint2 &  # taskbar
sxhkd &  # hotkeys

knotes &
#/usr/lib/geoclue-2.0/demos/agent &  # location service
#redshift-gtk &  # screen color temperature
